<div style="padding: 13px;">
  <mat-card *ngIf="initialListStatus">
    <mat-card-header>
        <mat-card-title>Past Events</mat-card-title>
        <mat-card-subtitle>Loading past events...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
         <div fxFlex="25%" class="mat-row mat-cell">
          <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '4px',
            height: '36px',
            margin: '10px 0 10px 0',
            width: '80%',
            display: 'block'
          }"></ngx-skeleton-loader>
        </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
</mat-card-actions>
</mat-card>
    <mat-card *ngIf="!initialListStatus">
      <mat-card-header>
          <mat-card-title>Past Events</mat-card-title>
          <mat-card-subtitle>Select an event to list attendees</mat-card-subtitle>
      </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill">
            <mat-label>Select event</mat-label>
          <mat-select id="eventId" name="eventId" [formControl]="selectEvent" (selectionChange)="pickEvent($event)">
            <mat-option *ngFor="let event of this.events" [value]="event.id">
              {{event.eventStartTms | date:'M/d/YY h:mm a'}} - {{event.eventEndTms | date:'h:mm a'}}
          </mat-option>
        </mat-select>
        </mat-form-field>&nbsp;
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>

      <div *ngIf="eventId != 0">
        <form [formGroup]="signupForm">
          <mat-card style="margin-top:10px;" *ngIf="!loadStatus">
            <!---loading screen-->
            <mat-card-header>
                <mat-card-title>Event attendees</mat-card-title>
                <mat-card-subtitle>Loading attendees...</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> ID </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Name </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Attended </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> No Show </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '80%',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                </div>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin-top:10px;" *ngIf="loadStatus">
            <mat-card-header>
                <mat-card-title>Event attendees</mat-card-title>
                <mat-card-subtitle>{{eventTimeslotSelect.eventStartTms | date:'E M/d/yyyy h:mm a'}} -
                  {{eventTimeslotSelect.eventEndTms | date:'h:mm a'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
    <!--new table-->
    <mat-table [dataSource]="eventSignedUp" multiTemplateDataRows>
      <!-- Signup Definition -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">
           <div *ngIf="row.attendNbr <= eventTimeslotSelect.eventSlotCnt">
            {{row.attendNbr}}
        </div>
        <div *ngIf="row.attendNbr > eventTimeslotSelect.eventSlotCnt">
        Standby: {{row.attendNbr - eventTimeslotSelect.eventSlotCnt}}
        </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
         <mat-cell *matCellDef="let row">
            {{row.realNm}}<br/>
            {{row.cityNm}}, {{row.stateCd}}
         </mat-cell>
       </ng-container>

     <!-- Toggle -->
     <ng-container matColumnDef="attended">
       <mat-header-cell *matHeaderCellDef> Attended </mat-header-cell>
       <mat-cell *matCellDef="let row;">
        <mat-slide-toggle color="accent" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="updateSignup($event)"></mat-slide-toggle>
      </mat-cell>
     </ng-container>

     <ng-container matColumnDef="noshow">
      <mat-header-cell *matHeaderCellDef> No Show </mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <mat-slide-toggle color="warn" id="ns{{row.id}}" name="ns{{row.id}}" formControlName="ns{{row.id}}" (change)="updateNoShow($event)"></mat-slide-toggle>
     </mat-cell>
    </ng-container>

     <!-- Header and Row Declarations -->
     <mat-header-row *matHeaderRowDef="['id', 'name', 'attended', 'noshow']"></mat-header-row>
     <mat-row *matRowDef="let row; columns: ['id', 'name', 'attended', 'noshow']"></mat-row>
    </mat-table>
              </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="showNoShow(eventId);">No-Shows</button>
        </mat-card-actions>
        </mat-card>
        </form>
        </div>
  </div>
