<div style="padding: 13px;">
  <mat-card *ngIf="initialListStatus">
    <mat-card-header>
        <mat-card-title>Future event confirmation</mat-card-title>
        <mat-card-subtitle>Loading upcoming events...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-load-event></app-load-event>
    </mat-card-content>
    <mat-card-actions>
</mat-card-actions>
</mat-card>
    <mat-card *ngIf="!initialListStatus">
      <mat-card-header>
          <mat-card-title>Future event confirmation</mat-card-title>
          <mat-card-subtitle>Select the event to confirm attendees for</mat-card-subtitle>
      </mat-card-header>
          <mat-card-content>
              <mat-table [dataSource]="events">
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                      <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
                   </mat-cell>
                  </ng-container>

                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventStart">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventEnd">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                   <!-- Signup Definition -->
                   <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)="pickEvent(row.id);">Get List</button></mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd', 'manage']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd', 'manage']"
                  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>
                </mat-table>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>

      <div *ngIf="eventId != 0">
        <form [formGroup]="signupForm">
          <mat-card style="margin-top:10px;" *ngIf="!loadStatus">
            <mat-card-header>
              <mat-card-title>Confirm attendees</mat-card-title>
              <mat-card-subtitle>Loading attendees...</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Signup Number </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Name </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Location </div>
                <div fxFlex="25%" class="mat-header-row mat-header-cell"> Confirmed </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '80%',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25%" class="mat-row mat-cell">
                   <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '60px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
               </div>

            </mat-card-content>

          </mat-card>

          <mat-card style="margin-top:10px;" *ngIf="loadStatus">
            <mat-card-header>
                <mat-card-title>Confirm attendees</mat-card-title>
                <mat-card-subtitle>This event has {{eventTimeslotSelect.eventSlotCnt}} slots available and
                  allows {{eventTimeslotSelect.overbookCnt}} on the standby list.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
    <!--new table-->
    <mat-table [dataSource]="eventSignedUp" multiTemplateDataRows>
     <!-- Input box -->
     <ng-container matColumnDef="signupNbr">
        <mat-header-cell *matHeaderCellDef> Signup Number </mat-header-cell>
        <mat-cell *matCellDef="let row;">
            <div *ngIf="row.attendNbr <= eventTimeslotSelect.eventSlotCnt">
            {{row.attendNbr}}
        </div>
        <div *ngIf="row.attendNbr > eventTimeslotSelect.eventSlotCnt">
        Standby: {{row.attendNbr - eventTimeslotSelect.eventSlotCnt}}
        </div>
       </mat-cell>
      </ng-container>

    <!-- Signup Definition -->
      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
         <mat-cell *matCellDef="let row">
            {{row.realNm}} <br/>Facebook Name: {{row.firstNm}} {{row.lastNm}}
         </mat-cell>
       </ng-container>

       <ng-container matColumnDef="personLoc">
       <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
       <mat-cell *matCellDef="let row" class="mat-cell-row1">
        {{row.cityNm}}, {{row.stateCd}} {{row.countryCd}}<br/>
        {{row.signupTxt}}
          </mat-cell>
     </ng-container>

     <!-- Toggle -->
     <ng-container matColumnDef="confirmed">
      <mat-header-cell *matHeaderCellDef> Confirmed </mat-header-cell>
      <mat-cell *matCellDef="let row;">
       <mat-slide-toggle color="primary" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="updateSignup($event)"></mat-slide-toggle>
     </mat-cell>
    </ng-container>

     <!-- Header and Row Declarations -->
     <mat-header-row *matHeaderRowDef="['signupNbr', 'name', 'personLoc', 'confirmed']"></mat-header-row>
     <mat-row *matRowDef="let row; columns: ['signupNbr', 'name', 'personLoc', 'confirmed']" class="mat-cell-row1"></mat-row>
    </mat-table>
              </mat-card-content>
            <mat-card-actions>
        </mat-card-actions>
        </mat-card>
        </form>
        </div>

  </div>
