<div style="padding: 13px;">
    <mat-card>
      <mat-card-header>
          <mat-card-title>Future Events</mat-card-title>
      </mat-card-header>
          <mat-card-content>
            <form [formGroup]="currEvents">
              <mat-table [dataSource]="events">
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'fullDate'}} </mat-cell>
                  </ng-container>
                
                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventTime">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} - {{row.eventEndTms | date:'shortTime'}}</mat-cell>
                  </ng-container>
                
                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventOpen">
                    <mat-header-cell *matHeaderCellDef> Open Date/Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventEndTms}} </mat-cell>  <!--need to date format this-->
                  </ng-container>
                
                  <!-- Manage Definition -->
                  <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef>Manage Event</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                    </mat-cell>
                  </ng-container>
                  
                  <!-- Open/Close Definition -->
                   <ng-container matColumnDef="openclose">
                    <mat-header-cell *matHeaderCellDef>Open/Close Event</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <mat-slide-toggle color="accent" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="changeEventState($event)"></mat-slide-toggle>
                    </mat-cell>
                  </ng-container>
                  
                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventTime', 'eventOpen', 'manage', 'openclose']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventTime', 'eventOpen', 'manage', 'openclose']"
                  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>
                </mat-table>
                </form>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Create a New Event</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <form [formGroup]="newEventForm">
                This will be the new event creation form.
                <mat-form-field appearance="fill">
                    <mat-label>Start Date and Time</mat-label>
                    <input matInput id="eventStartTms" name="eventStartTms" [formControlName]="eventStartTms"">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>End Date and Time</mat-label>
                    <input matInput id="eventEndTms" name="eventEndTms" [formControlName]="eventEndTms"">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Open Date and Time</mat-label>
                    <input matInput id="eventOpenTms" name="eventOpenTms" [formControlName]="eventOpenTms"">
                  </mat-form-field>


              </form>
          </mat-card-content>
      </mat-card>

      </div>