<div style="padding: 13px;">
    <mat-card>
      <mat-card-header>
          <mat-card-title>Future Events</mat-card-title>
          <mat-card-subtitle>Select an event to manage it.</mat-card-subtitle>
      </mat-card-header>
          <mat-card-content>
            <form [formGroup]="currEvents">
              <mat-table [dataSource]="events" multiTemplateDataRows>
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                      <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
                   </mat-cell>
                  </ng-container>
                
                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventTime">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} - {{row.eventEndTms | date:'shortTime'}}</mat-cell>
                  </ng-container>
                
                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventOpen">
                    <mat-header-cell *matHeaderCellDef> Open Date/Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventOpenTms | date:'short'}} </mat-cell>  <!--need to date format this-->
                  </ng-container>
                
                  <!-- Manage Definition -->
                  <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef>Manage Event</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <button mat-raised-button color="primary" (click)="manageEvent(row.id);">Edit event</button>
                    </mat-cell>
                  </ng-container>
                  
                  <!-- Open/Close Definition -->
                   <ng-container matColumnDef="openclose">
                    <mat-header-cell *matHeaderCellDef>Open/Close Event</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <mat-slide-toggle color="accent" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="changeEventState($event)">Closed event</mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Private Definition -->
                  <ng-container matColumnDef="private">
                    <mat-header-cell *matHeaderCellDef>Private Event</mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <mat-slide-toggle color="accent" id="pvt{{row.id}}" name="pvt{{row.id}}" formControlName="pvt{{row.id}}" (change)="changePrivateState($event)">Private event</mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventTime', 'eventOpen', 'manage']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventTime', 'eventOpen', 'manage']"
                  [ngClass]="{'highlight': selectEventId == row.id}" class="mat-row1"></mat-row>
                  <mat-row *matRowDef="let row; columns: ['openclose','private']"
                  [ngClass]="{'highlight': selectEventId == row.id}" class="mat-row2"></mat-row>
                  </mat-table>
                </form>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Create or Update an Event</mat-card-title>
          </mat-card-header>
              <form [formGroup]="newEventForm" (ngSubmit)="eventSubmit()">
                <mat-card-content>
                  <p><button mat-raised-button color="primary" (click)="newEventForm.reset()">Clear form</button></p>
                  <p>Enter your new or modified event information below.</p>
                <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Enter event date</mat-label>
                    <input matInput [matDatepicker]="picker" id="eventDate" name="eventDate" formControlName="eventDate" type="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  </div>
  
                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Start Time</mat-label>
                    <input matInput [ngxTimepicker]="startTm" id="startTm" name="startTm" formControlName="startTm" type="datetime-local">
                    <ngx-material-timepicker #startTm>
                      <ngx-timepicker-field [format]="24"></ngx-timepicker-field>
                    </ngx-material-timepicker>
                  </mat-form-field>
                  </div>
  
                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>End Time</mat-label>
                    <input matInput [ngxTimepicker]="endTm" id="endTm" name="endTm" formControlName="endTm" type="datetime-local">
                    <ngx-material-timepicker #endTm>
                      <ngx-timepicker-field [format]="24"></ngx-timepicker-field>
                    </ngx-material-timepicker>
                  </mat-form-field>
                  </div>
  
                  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Enter open date</mat-label>
                    <input matInput [matDatepicker]="openDate" id="openDate" name="openDate" formControlName="openDate" type="date">
                    <mat-datepicker-toggle matSuffix [for]="openDate"></mat-datepicker-toggle>
                    <mat-datepicker #openDate></mat-datepicker>
                  </mat-form-field>
                  </div>

                  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Open Time</mat-label>
                    <input matInput [ngxTimepicker]="openTm" id="openTm" name="openTm" formControlName="openTm" type="datetime-local">
                    <ngx-material-timepicker #openTm>
                      <ngx-timepicker-field [format]="24"></ngx-timepicker-field>
                    </ngx-material-timepicker>
                  </mat-form-field>
                  </div>

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Number of attendees</mat-label>
                    <input matInput id="eventSlotCnt" name="eventSlotCnt" formControlName="eventSlotCnt" type="number">
                    <mat-hint>Enter the number of attendees allowed to be in the warehouse.</mat-hint>
                  </mat-form-field>
                </div>    

                <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                  <mat-form-field appearance="fill">
                  <mat-label>Number of standbys</mat-label>
                  <input matInput id="overbookCnt" name="overbookCnt" formControlName="overbookCnt" type="number">
                  <mat-hint>Enter the number of attendees that we will support as standbys.</mat-hint>
                </mat-form-field>
              </div>  

              <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                <mat-form-field appearance="fill">
                <mat-label>Number of reservations</mat-label>
                <input matInput id="signupCnt" name="signupCnt" formControlName="signupCnt" type="number">
                <mat-hint>Enter the number of signups that we will accept for this event. This should be
                  more than the signups and standbys, and allow for people who have been to the warehouse.
                </mat-hint>
              </mat-form-field>
            </div> 
            <div fxFlex="100%" style="clear: all; padding: 10px;">&nbsp;</div>
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
              <mat-form-field appearance="fill">
              <mat-label>Event Message</mat-label>
              <input matInput id="eventNote" name="eventNote" formControlName="eventNote" type="text">
              <mat-hint>Optional note for this event. This will be displayed to end users.
              </mat-hint>
            </mat-form-field>
          </div> 

          <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="privateEventInd" name="privateEventInd" formControlName="privateEventInd">Private event</mat-slide-toggle><br/>
            <mat-hint>Hide this event from users who log into the system. </mat-hint>
        </div>

        <div style="clear: all; padding: 10px;">&nbsp;</div>
        <div class="confirmmessage" *ngIf="submitResult">{{submitResult}}</div>
                </div>          
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="(!newEventForm.valid || submitProcess)">Process event</button>
            <div *ngIf="submitProcess">Please wait for your event to process.</div>
      </mat-card-actions>
  
        </form>
      </mat-card>

      </div>