<div style="padding: 13px;">
    <mat-card>
      <mat-card-header>
          <mat-card-title>Future Events</mat-card-title>
          <mat-card-subtitle>Select an event to manage it.</mat-card-subtitle>
      </mat-card-header>
          <mat-card-content>
            <form [formGroup]="currEvents">
              <mat-table [dataSource]="events" multiTemplateDataRows>
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                      <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
                   </mat-cell>
                  </ng-container>

                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventTime">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} - {{row.eventEndTms | date:'shortTime'}}</mat-cell>
                  </ng-container>

                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventOpen">
                    <mat-header-cell *matHeaderCellDef> Open Date/Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventOpenTms | date:'short'}} </mat-cell>  <!--need to date format this-->
                  </ng-container>

                  <!-- Manage Definition -->
                  <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef>Manage Event</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-raised-button color="primary" (click)="manageEvent(row.id);">Edit event</button>
                    </mat-cell>
                  </ng-container>

                  <!-- Open/Close Definition -->
                   <ng-container matColumnDef="openclose">
                    <mat-header-cell *matHeaderCellDef>Open/Close Event</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle color="accent" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="changeEventState($event)">Closed event</mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Private Definition -->
                  <ng-container matColumnDef="private">
                    <mat-header-cell *matHeaderCellDef>Private Event</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle color="accent" id="pvt{{row.id}}" name="pvt{{row.id}}" formControlName="pvt{{row.id}}" (change)="changePrivateState($event)">Private event</mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Intl Definition -->
                  <ng-container matColumnDef="intl">
                    <mat-header-cell *matHeaderCellDef>International Event</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle color="accent" id="intl{{row.id}}" name="intl{{row.id}}" formControlName="intl{{row.id}}" (change)="changeIntlState($event)">International event</mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <!-- Private link-->
                  <ng-container matColumnDef="privateLink">
                    <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        Private Link:  <a routerLink="/privateevent/{{row.eventKey}}">https://computerresetsignup.azurewebsites.net/privateevent/{{row.eventKey}}</a>
                    </mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventTime', 'eventOpen', 'manage']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventTime', 'eventOpen', 'manage']"
                  [ngClass]="{'highlight': selectEventId == row.id}" class="mat-row1"></mat-row>
                  <mat-row *matRowDef="let row; columns: ['privateLink'], when: isPrivateEvent"
                    [ngClass]="{'highlight': selectEventId == row.id}" class="mat-row1">
                  </mat-row>
                  <mat-row *matRowDef="let row; columns: ['openclose','private', 'intl']"
                  [ngClass]="{'highlight': selectEventId == row.id}" class="mat-row2"></mat-row>
                  </mat-table>
                </form>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Create or Update an Event</mat-card-title>
          </mat-card-header>
              <form [formGroup]="newEventForm" (ngSubmit)="eventSubmit()" (onChange)="resetProcess()">
                <mat-card-content>
                  <p><button mat-raised-button color="primary" type="reset">Clear form</button></p>
                  <p>Enter your new or modified event information below.</p>
                <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" class="time-form-wrap">
                    <mat-form-field appearance="fill" class="time-form-middle">
                    <mat-label>Enter event date</mat-label>
                    <input matInput [matDatepicker]="picker" id="eventDate" name="eventDate" placeholder="MM/DD/YYYY" formControlName="eventDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  </div>

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" class="time-form-wrap">
                    <span class="time-form"><label for="startTime" class="time-form">Event Start Time: </label></span>
                    <table id="startTime">
                      <tr>
                          <td class="inc-dec-row" (click)="modifyStartHour(1)">
                              <mat-icon class="inc-dec-value" id="increase-hours">keyboard_arrow_up</mat-icon>
                          </td>
                          <td></td>
                          <td class="inc-dec-row" (click)="modifyStartMinute(1)">
                            <mat-icon class="inc-dec-value" id="increase-mins">keyboard_arrow_up</mat-icon>
                          </td>
                      </tr>
                      <tr>
                        <td><input type="text" id="hour_startTm" formControlName="hour_startTm"
                                name="hour_startTm" class="form-control time-form" [(ngModel)]="startHourVal"
                                maxlength="2" (onChange)="changeStartTimeHour"
                                [matAutocomplete]="autoStartHours" numbersOnly>
                            <mat-autocomplete #autoStartHours="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let hour of hours24" [value]="hour">
                                    {{ hour }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                        <td>
                            <div class="time-colon">:</div>
                        </td>
                        <td><input type="text" id="minute_startTm" name="minute_startTm" [(ngModel)]="startMinuteVal"
                          class="form-control time-form" maxlength="2" (onChange)="changeStartTimeMinute"
                                [matAutocomplete]="autoStartMinutes" formControlName="minute_startTm" numbersOnly>
                            <mat-autocomplete #autoStartMinutes="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let minute of minutes60" [value]="minute">
                                    {{ minute }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                    </tr>
                      <tr>
                        <td class="inc-dec-row" (click)="modifyStartHour(-1)">
                            <mat-icon class="inc-dec-value" id="decrease-hours">keyboard_arrow_down</mat-icon>
                        </td>
                        <td></td>
                        <td class="inc-dec-row" (click)="modifyStartMinute(-1)">
                          <mat-icon class="inc-dec-value" id="decrease-mins">keyboard_arrow_down</mat-icon>
                        </td>
                    </tr>
                    </table>
                  </div>

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" class="time-form-wrap">
                    <span class="time-form"><label for="endTime" class="time-form">Event End Time: </label></span>
                    <table id="endTime">
                      <tr>
                          <td class="inc-dec-row" (click)="modifyEndHour(1)">
                              <mat-icon class="inc-dec-value" id="increase-end-hours">keyboard_arrow_up</mat-icon>
                          </td>
                          <td></td>
                          <td class="inc-dec-row" (click)="modifyEndMinute(1)">
                            <mat-icon class="inc-dec-value" id="increase-end-mins">keyboard_arrow_up</mat-icon>
                          </td>
                      </tr>
                      <tr>
                        <td><input type="text" id="hour_endTm"
                                name="hour_endTm" class="form-control time-form" formControlName="hour_endTm"
                                maxlength="2" (onChange)="changeEndTimeHour" [(ngModel)]="endHourVal"
                                [matAutocomplete]="autoEndHours" numbersOnly>
                            <mat-autocomplete #autoEndHours="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let hour of hours24" [value]="hour">
                                    {{ hour }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                        <td>
                            <div class="time-colon">:</div>
                        </td>
                        <td><input type="text" id="minute_endTm" name="minute_endTm" [(ngModel)]="endMinuteVal"
                          class="form-control time-form" maxlength="2" (onChange)="changeEndTimeMinute" formControlName="minute_endTm"
                                [matAutocomplete]="autoEndMinutes" numbersOnly class="time-form">
                            <mat-autocomplete #autoEndMinutes="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let minute of minutes60" [value]="minute">
                                    {{ minute }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                    </tr>
                      <tr>
                        <td class="inc-dec-row" (click)="modifyEndHour(-1)">
                            <mat-icon class="inc-dec-value" id="decrease-end-hours">keyboard_arrow_down</mat-icon>
                        </td>
                        <td></td>
                        <td class="inc-dec-row" (click)="modifyEndMinute(-1)">
                          <mat-icon class="inc-dec-value" id="decrease-end-mins">keyboard_arrow_down</mat-icon>
                        </td>
                    </tr>
                    </table>
                  </div>

                  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="time-form-wrap">
                    <mat-form-field appearance="fill" class="time-form-middle">
                    <mat-label>Enter open date</mat-label>
                    <input matInput [matDatepicker]="openDate" id="openDate" name="openDate" placeholder="MM/DD/YYYY" formControlName="openDate">
                    <mat-datepicker-toggle matSuffix [for]="openDate"></mat-datepicker-toggle>
                    <mat-datepicker #openDate></mat-datepicker>
                  </mat-form-field>
                  </div>

                  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <span class="time-form"><label for="eventOpenTime" class="time-form">Event Open Time: </label></span>
                    <table id="eventOpenTime">
                      <tr>
                          <td class="inc-dec-row" (click)="modifyOpenHour(1)">
                              <mat-icon class="inc-dec-value" id="increase-open-hours">keyboard_arrow_up</mat-icon>
                          </td>
                          <td></td>
                          <td class="inc-dec-row" (click)="modifyOpenMinute(1)">
                            <mat-icon class="inc-dec-value" id="increase-open-mins">keyboard_arrow_up</mat-icon>
                          </td>
                      </tr>
                      <tr>
                        <td><input type="text" id="hour_openTm"
                                name="hour_openTm" class="form-control time-form"
                                maxlength="2" (onChange)="changeOpenTimeHour" [(ngModel)]="openHourVal"
                                [matAutocomplete]="autoOpenHours" formControlName="hour_openTm" numbersOnly>
                            <mat-autocomplete #autoOpenHours="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let hour of hours24" [value]="hour">
                                    {{ hour }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                        <td>
                            <div class="time-colon">:</div>
                        </td>
                        <td><input type="text" id="minute_openTm" name="minute_openTm" [(ngModel)]="openMinuteVal"
                          class="form-control time-form" maxlength="2" (onChange)="changeOpenTimeMinute"
                                [matAutocomplete]="autoOpenMinutes" formControlName="minute_openTm" numbersOnly>
                            <mat-autocomplete #autoOpenMinutes="matAutocomplete" panelWidth="auto">
                                <mat-option *ngFor="let minute of minutes60" [value]="minute">
                                    {{ minute }}
                                </mat-option>
                            </mat-autocomplete>
                        </td>
                    </tr>
                      <tr>
                        <td class="inc-dec-row" (click)="modifyOpenHour(-1)">
                            <mat-icon class="inc-dec-value" id="decrease-open-hours">keyboard_arrow_down</mat-icon>
                        </td>
                        <td></td>
                        <td class="inc-dec-row" (click)="modifyOpenMinute(-1)">
                          <mat-icon class="inc-dec-value" id="decrease-open-mins">keyboard_arrow_down</mat-icon>
                        </td>
                    </tr>
                    </table>
                  </div>

                  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                    <mat-form-field appearance="fill">
                    <mat-label>Number of attendees</mat-label>
                    <input matInput id="eventSlotCnt" name="eventSlotCnt" formControlName="eventSlotCnt" type="number">
                    <mat-hint>Enter the number of attendees allowed to be in the warehouse.</mat-hint>
                  </mat-form-field>
                </div>

                <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                  <mat-form-field appearance="fill">
                  <mat-label>Number of standbys</mat-label>
                  <input matInput id="overbookCnt" name="overbookCnt" formControlName="overbookCnt" type="number">
                  <mat-hint>Enter the number of attendees that we will support as standbys.</mat-hint>
                </mat-form-field>
              </div>

              <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                <mat-form-field appearance="fill">
                <mat-label>Number of reservations</mat-label>
                <input matInput id="signupCnt" name="signupCnt" formControlName="signupCnt" type="number">
                <mat-hint>Enter the number of signups that we will accept for this event. This should be
                  more than the signups and standbys, and allow for people who have been to the warehouse.
                </mat-hint>
              </mat-form-field>
            </div>
            <div fxFlex="100%" style="clear: all; padding: 10px;">&nbsp;</div>
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
              <mat-form-field appearance="fill">
              <mat-label>Event Message</mat-label>
              <input matInput id="eventNote" name="eventNote" formControlName="eventNote" type="text">
              <mat-hint>Optional note for this event. This will be displayed to end users.
              </mat-hint>
            </mat-form-field>
          </div>

          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="privateEventInd" name="privateEventInd" formControlName="privateEventInd">Private event</mat-slide-toggle><br/>
            <mat-hint>Hide this event from users who log into the system. </mat-hint>
          </div>
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="intlEventInd" name="intlEventInd" formControlName="intlEventInd">International event</mat-slide-toggle><br/>
            <mat-hint>This event is an international event. </mat-hint>
        </div>


        <div style="clear: all; padding: 10px;">&nbsp;</div>
        <div class="confirmmessage" *ngIf="submitResult">{{submitResult}}</div>
                </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="(!newEventForm.valid || submitProcess)">Process event</button>
            <div *ngIf="submitProcess">Please wait for your event to process.</div>
      </mat-card-actions>

        </form>
      </mat-card>

      </div>
