<div style="padding: 13px;">
  <mat-card *ngIf="initialListStatus">
    <mat-card-header>
        <mat-card-title>Today's Event</mat-card-title>
        <mat-card-subtitle>Loading current events...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-load-event></app-load-event>
    </mat-card-content>
    <mat-card-actions>
</mat-card-actions>
</mat-card>
    <mat-card *ngIf="!initialListStatus">
      <mat-card-header>
          <mat-card-title>Today's Event</mat-card-title>
          <mat-card-subtitle>Select an event to list attendees</mat-card-subtitle>
      </mat-card-header>
          <mat-card-content>
              <mat-table [dataSource]="events">
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                      <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
                   </mat-cell>
                  </ng-container>

                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventStart">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventEnd">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                   <!-- Signup Definition -->
                   <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-raised-button color="accent" (click)="pickEvent(row.id);">Manage</button></mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd', 'manage']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd', 'manage']"
                  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>
                </mat-table>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>

      <div *ngIf="eventId != 0">
        <form [formGroup]="signupForm">
          <mat-card style="margin-top:10px;" *ngIf="!loadStatus">
            <!---loading screen-->
            <mat-card-header>
                <mat-card-title>Today's attendees</mat-card-title>
                <mat-card-subtitle>Loading attendees...</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
                <div fxFlex="33%" class="mat-header-row mat-header-cell"> ID </div>
                <div fxFlex="33%" class="mat-header-row mat-header-cell"> Name </div>
                <div fxFlex="33%" class="mat-header-row mat-header-cell"> Attended </div>
                <div fxFlex="33%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '80%',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="33%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="33%" class="mat-row mat-cell">
                  <ngx-skeleton-loader count="10" [theme]="{
                    'border-radius': '4px',
                    height: '36px',
                    margin: '10px 0 10px 0',
                    width: '70px',
                    display: 'block'
                  }"></ngx-skeleton-loader>
                </div>
                </div>
            </mat-card-content>
          </mat-card>
          <mat-card style="margin-top:10px;" *ngIf="loadStatus">
            <mat-card-header>
                <mat-card-title>Today's attendees</mat-card-title>
                <mat-card-subtitle>{{eventTimeslotSelect.eventStartTms | date:'E M/d/yyyy h:mm a'}} -
                  {{eventTimeslotSelect.eventEndTms | date:'h:mm a'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
    <!--new table-->
    <mat-table [dataSource]="eventSignedUp" multiTemplateDataRows>
      <!-- Signup Definition -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">
           <div *ngIf="row.attendNbr <= eventTimeslotSelect.eventSlotCnt">
            {{row.attendNbr}}
        </div>
        <div *ngIf="row.attendNbr > eventTimeslotSelect.eventSlotCnt">
        Standby: {{row.attendNbr - eventTimeslotSelect.eventSlotCnt}}
        </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
         <mat-cell *matCellDef="let row">
            {{row.realNm}}<br/>
            {{row.cityNm}}, {{row.stateCd}}
         </mat-cell>
       </ng-container>

     <!-- Toggle -->
     <ng-container matColumnDef="attended">
       <mat-header-cell *matHeaderCellDef> Attended </mat-header-cell>
       <mat-cell *matCellDef="let row;">
        <mat-slide-toggle color="accent" id="{{row.id}}" name="{{row.id}}" formControlName="{{row.id}}" (change)="updateSignup($event)"></mat-slide-toggle>
      </mat-cell>
     </ng-container>

     <!-- Header and Row Declarations -->
     <mat-header-row *matHeaderRowDef="['id', 'name', 'attended']"></mat-header-row>
     <mat-row *matRowDef="let row; columns: ['id', 'name', 'attended']"></mat-row>
    </mat-table>
              </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="showNoShow(eventId);">No-Shows</button>
        </mat-card-actions>
        </mat-card>
        </form>
        </div>

        <mat-card style="margin-top:10px;">
          <mat-card-header>
              <mat-card-title>Event rules</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-rules></app-rules>
          </mat-card-content>
     </mat-card>
<!--This is the new section for No Shows - button click to show it-->
     <div *ngIf="eventId != 0 && noShowFlag">
      <form [formGroup]="noShowForm">
        <mat-spinner *ngIf="!loadStatus"></mat-spinner>
        <mat-card style="margin-top:10px;" *ngIf="loadStatus">
          <mat-card-header>
              <mat-card-title>No shows</mat-card-title>
          </mat-card-header>
          <mat-card-content>
  <!--new table-->
  <mat-table [dataSource]="signedUpNoShow" multiTemplateDataRows>
    <!-- Signup Definition -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">
         <div *ngIf="row.attendNbr <= eventTimeslotSelect.eventSlotCnt">
          {{row.attendNbr}}
      </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
       <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
       <mat-cell *matCellDef="let row">
          {{row.realNm}}
       </mat-cell>
     </ng-container>

   <ng-container matColumnDef="noshow">
    <mat-header-cell *matHeaderCellDef> No Show </mat-header-cell>
    <mat-cell *matCellDef="let row;">
      <mat-slide-toggle color="warn" id="ns{{row.id}}" name="ns{{row.id}}" formControlName="ns{{row.id}}" (change)="updateNoShow($event)"></mat-slide-toggle>
   </mat-cell>
  </ng-container>

   <!-- Header and Row Declarations -->
   <mat-header-row *matHeaderRowDef="['id', 'name','noshow']"></mat-header-row>
   <mat-row *matRowDef="let row; columns: ['id', 'name','noshow']"></mat-row>
  </mat-table>
            </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>
      </form>
      </div>
  </div>
