.snackbar-alert {
    background: #880E4F;
    color: #FFFFFF;
}

.highlight{
  background: #FF8A80; /* red A100 */
}

td.mat-cell-row1{
  border-bottom-style: none;
}

td.mat-cell-row2{
  border-top-style: none;
}