<!--div class="loading-screen-wrapper" [hidden]="appReady">
      <p>Booting your Computer Reset experience...</p>
      <p><img src="../../assets/charlie.gif" /></p>
</div-->
<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="Home" routerLink="/">
      <span>Computer Reset Warehouse Liquidation</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="/privacy">Privacy Policy</button>
      <button mat-button routerLink="/event">Event signup</button>
      <button *ngIf="admin" mat-button routerLink="/admin">Admin</button>
      <button mat-button routerLink="./auth/logout">Logout</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <button mat-button routerLink="/privacy">Privacy Policy</button>
        <button mat-button routerLink="/event">Event signup</button>
        <button *ngIf="admin" mat-button routerLink="/admin">Admin</button>
        <button *ngIf="admin" mat-button routerLink="/admin/today">Today's event</button>
        <button *ngIf="admin" mat-button routerLink="/admin/userlist">Confirm attendees</button>
        <button *ngIf="admin" mat-button routerLink="/admin/future">Select attendees</button>
        <button *ngIf="admin" mat-button routerLink="/admin/standby">Process standbys</button>
        <button *ngIf="admin" mat-button routerLink="/admin/event">Schedule events</button>
        <button *ngIf="admin" mat-button routerLink="/admin/user">User management</button>
        <button mat-button routerLink="./auth/logout">Logout</button>
        <div>{{fullName}}</div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!--/div-->
<!--app-loading-screen [loading]="isLoading"></app-loading-screen-->