<div style="padding: 13px">
    <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Event rules</mat-card-title>
            <mat-card-subtitle>Before signing up for an event, you agree to the following rules:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <mat-list><mat-list-item>1. 100% mask and social distancing environment.</mat-list-item>
           <mat-list><mat-list-item mat-line>a. NO masks with exhaust valves</mat-list-item>
            <mat-list-item mat-line>b. No neck gaiters</mat-list-item>
            <mat-list-item mat-line>c. No "protest" masks</mat-list-item></mat-list> 
            <mat-list-item mat-line>Disposable masks are available if you need one during the event.</mat-list-item>
            <mat-list-item>2. No open-toed or high heel shoes. No sandals. No flip-flops.</mat-list-item>
            <mat-list-item>3. No poaching someone else's pile.</mat-list-item>
            <mat-list-item>4. No climbing or using the ladders - We will have volunteers available to help you get stuff 
                down from 2nd and 3rd level pallet shelves.</mat-list-item>
            <mat-list-item>5. Clean up after yourself. If you open and search a box, put everything back in it 
                and put it back where it was before moving on. If you're drinking something, 
                toss the bottle/cup in the trash, not the bushes.</mat-list-item>
            <mat-list-item>6. Stay out of taped off and off-limits areas.</mat-list-item>
            <mat-list-item>7. No photos, livestreaming, or filming without permission.</mat-list-item>
            <mat-list-item>8. You are responsible for your own safety. The volunteer crew has 
                spent a huge number of hours filling 15 40-cubic yard dumpsters and restacking/sorting 
                things around the offices and warehouse area to help make things safe.</mat-list-item>
            <mat-list-item>9. If a volunteer tells you to take a time out in front of a fan or to get some water, 
                you <strong>will</strong> do it.</mat-list-item>
            <mat-list-item>10. Don't make us make more rules.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Cash and PayPal accepted.</mat-list-item>
            <mat-list-item>Parking will be in front for guests, in back for volunteers. 
                When you pay you'll be able to pull around back and load up your pile.</mat-list-item>
        </mat-list>
        <p><button mat-raised-button color="primary" (click)="agreeClick();">I agree to these rules</button></p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    </mat-card>
    <div *ngIf="agreeInd">
    <form [formGroup]="eventForm" (ngSubmit)="eventSubmit()">
    <mat-card *ngFor="let event of events" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Upcoming events</mat-card-title>
            <mat-card-subtitle>These events are open for signup:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-table [dataSource]="events">
                <!-- Date Definition -->
                 <!-- Signup Definition -->
                 <ng-container matColumnDef="signup">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <mat-radio-button name="eventId" [value]="row.id" 
                      id="eventId" formControlName="eventId" color="primary"></mat-radio-button></mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="eventDate">
                  <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'fullDateUTC'}} </mat-cell>
                </ng-container>
              
                <!-- Start time Definition -->
                <ng-container matColumnDef="eventStart">
                  <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTimeUTC'}} </mat-cell>
                </ng-container>
              
                <!-- Title Definition -->
                <ng-container matColumnDef="eventEnd">
                  <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTimeUTC'}} </mat-cell>
                </ng-container>
                
                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="['signup', 'eventDate', 'eventStart', 'eventEnd']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['signup', 'eventDate', 'eventStart', 'eventEnd']"></mat-row>
              </mat-table>
              <mat-grid-list cols="3" rowheight="2:1">
              <mat-grid-tile aria-rowspan="1" aria-colspan="3">
                  ID is required for anyone to enter the warehouse. If your real name is different from your
                  Facebook name, please fill your name in below:
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="fill">
                  <mat-label>Real Name</mat-label>
                  <input matInput [value]="signUp.realname" id="realName" formControlName="realName">
                  <mat-hint>Fill in the name on your ID here.</mat-hint>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Select your state*</mat-label>
                    <mat-select id="stateCd" formControlName="stateCd">
                      <mat-option *ngFor="let state of states" [value]="state.id" (onSelectionChange)="changeCityList(state.id);">
                        {{state.stateCode}}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end">Select the state you live in ^</mat-hint>
                  </mat-form-field>
                  {{signUp.stateCd}}
                </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Select your city*</mat-label>
                    <mat-select id="cityNm" formControlName="cityNm">
                      <mat-option *ngFor="let city of cities" [value]="city.city">
                      {{city.city}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">Select the city you live in ^</mat-hint>
                  </mat-form-field>
                  {{signUp.cityNm}}
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!eventForm.valid">Sign up!</button>
        <div *ngIf="submitResult">{{submitResult}}</div>
    </mat-card-actions>
    </mat-card>
    </form>
    </div>
    </div>