<div style="padding: 13px">
    <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Event rules</mat-card-title>
            <mat-card-subtitle>Before signing up for an event, you agree to the following rules:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <mat-list><mat-list-item>1. 100% mask and social distancing environment.</mat-list-item>
           <mat-list><mat-list-item mat-line>a. NO masks with exhaust valves</mat-list-item>
            <mat-list-item mat-line>b. No neck gaiters</mat-list-item>
            <mat-list-item mat-line>c. No "protest" masks</mat-list-item></mat-list> 
            <mat-list-item mat-line>Disposable masks are available if you need one during the event.</mat-list-item>
            <mat-list-item>2. No open-toed or high heel shoes. No sandals. No flip-flops.</mat-list-item>
            <mat-list-item>3. No poaching someone else's pile.</mat-list-item>
            <mat-list-item>4. No climbing or using the ladders - We will have volunteers available to help you get stuff 
                down from 2nd and 3rd level pallet shelves.</mat-list-item>
            <mat-list-item>5. Clean up after yourself. If you open and search a box, put everything back in it 
                and put it back where it was before moving on. If you're drinking something, 
                toss the bottle/cup in the trash, not the bushes.</mat-list-item>
            <mat-list-item>6. Stay out of taped off and off-limits areas.</mat-list-item>
            <mat-list-item>7. No photos, livestreaming, or filming without permission.</mat-list-item>
            <mat-list-item>8. You are responsible for your own safety. The volunteer crew has 
                spent a huge number of hours filling 16 40-cubic yard dumpsters and restacking/sorting 
                things around the offices and warehouse area to help make things safe.</mat-list-item>
            <mat-list-item>9. If a volunteer tells you to take a time out in front of a fan or to get some water, 
                you will do it.</mat-list-item>
            <mat-list-item>10. Don't make us make more rules.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Cash and PayPal accepted.</mat-list-item>
            <mat-list-item>Parking will be in front for guests, in back for volunteers. 
                When you pay you'll be able to pull around back and load up your pile.</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
          <div class="weathermessage"><mat-icon>warning</mat-icon>Events can be canceled at any time due to local weather conditions.</div>
      </mat-card-content>
    <mat-card-actions>
      <p><button mat-raised-button color="primary" (click)="agreeClick();">I agree to these rules</button></p>
    </mat-card-actions>
    </mat-card>
    <div *ngIf="agreeInd">
    <form [formGroup]="eventForm" (ngSubmit)="eventSubmit()">
      <mat-spinner *ngIf="events.length === 0"></mat-spinner>
      <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Upcoming events</mat-card-title>
            <mat-card-subtitle>These events are open for signup:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
<!--new table-->
<mat-radio-group id="eventId" name="eventId" required [(formGroup)]="eventForm" formControlName="eventId">
<mat-table [dataSource]="events">
  <!-- Signup Definition -->
  <ng-container matColumnDef="signup">
     <mat-header-cell *matHeaderCellDef></mat-header-cell>
     <mat-cell *matCellDef="let row"> 
       <mat-radio-button [value]="row.id" color="primary"></mat-radio-button>
     </mat-cell>
   </ng-container>
   
   <ng-container matColumnDef="eventDate">
   <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
   <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'fullDate'}} </mat-cell>
 </ng-container>

 <!-- Start time Definition -->
 <ng-container matColumnDef="eventStart">
   <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
   <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
 </ng-container>

 <!-- Title Definition -->
 <ng-container matColumnDef="eventEnd">
   <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
   <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
 </ng-container>
 
 <!-- Header and Row Declarations -->
 <mat-header-row *matHeaderRowDef="['signup', 'eventDate', 'eventStart', 'eventEnd']"></mat-header-row>
 <mat-row *matRowDef="let row; columns: ['signup', 'eventDate', 'eventStart', 'eventEnd']"></mat-row>
</mat-table>
</mat-radio-group>
              <mat-grid-list cols="3" height="1:6">
              <mat-grid-tile-header rowspan="1" colspan="3" color="accent">
                  ID is required for anyone to enter the warehouse. If your real name is different from your
                  Facebook name, please fill your name in below:
              </mat-grid-tile-header>
              <mat-grid-tile>
                <mat-form-field appearance="fill">
                  <mat-label>Real Name</mat-label>
                  <input matInput [value]="signUp.realname" id="realName" formControlName="realName">
                  <mat-hint>Fill in the name on your ID here.</mat-hint>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Select your state*</mat-label>
                    <mat-select id="stateCd" formControlName="stateCd">
                      <mat-option *ngFor="let state of states" [value]="state.stateCode" (onSelectionChange)="changeCityList(state.id);">
                        {{state.stateCode}}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end">Select the state you live in ^</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Select your city*</mat-label>
                    <mat-select id="cityNm" formControlName="cityNm">
                      <mat-option *ngFor="let city of cities" [value]="city.city">
                      {{city.city}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">Select the city you live in ^</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <div class="confirmmessage" *ngIf="submitResult">{{submitResult}}</div>
          </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!eventForm.valid">Sign up!</button>
    </mat-card-actions>
    </mat-card>
    </form>
    </div>
    </div>