<div style="padding: 13px">
    <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Privacy Policy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    <p style="padding: 13px;">
        The Computer Reset liquidation is being run by volunteers to assist the family of Richard Byron, former owner
        of Computer Reset in Dallas, TX.
        </p>
        <mat-card-subtitle><h2>Information we retain:</h2></mat-card-subtitle>
        <ul><li>If you log into this site, we retain your Facebook first name, last name and unique ID.</li>
        <li>If you sign up for an event, we retain the information used to sign up for the event. This
            includes your real name, city and state and any attendance information.
        </li>
        <li>We do not sell any data. All data is retained only for use of liquidation events and to comply
            with current and future Covid-19 governmental requirements.
        </li>
        <li>We do not share any data with any marketing partners.</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    </mat-card>
    </div>