<div style="padding: 13px;">
  <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="addOrChange" #users>
    <mat-tab label="Add User"></mat-tab>
    <mat-tab label="Update User"></mat-tab>
</mat-tab-group>
<mat-card *ngIf="this.addOrChange == 1">
  <mat-card-header>
    <mat-card-title>Find a user</mat-card-title>
    <mat-card-subtitle>Search for an existing user in the system.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="content"  style="padding-left: 24px; padding-right: 24px;">
      <mat-form-field appearance="fill">
        <input type="text"
              placeholder="Pick one"
              aria-label="Attendee"
              matInput
              [formControl]="selectId"
              [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="showName">
        <mat-option *ngFor="let option of lookupList" [value]="option">
          {{option.firstNm}} {{option.lastNm}} ({{option.realNm}})
        </mat-option>
      </mat-autocomplete>
      </div>
  </mat-card-content>
</mat-card>
<div style="height:10px;"></div>
<form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
  <mat-card>
    <mat-card-header>
        <mat-card-title><span *ngIf="this.addOrChange == 0">Add a new user</span>
        <span *ngIf="this.addOrChange == 1">Update a user</span></mat-card-title>
    </mat-card-header>
        <mat-card-content>

            <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
            <div fxFlex="100%" style="padding: 10px;">
              <button mat-raised-button color="primary" type="button" (click)="clearUserForm()">Clear form</button>
            </div>
              <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 10px;">
                <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstNm">
              </mat-form-field>
            </div>
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 10px;">
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastNm">
            </mat-form-field>
          </div>
          <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 10px;">
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="realNm">
            </mat-form-field>
          </div>
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
              <p>Please select the state of the new attendee.</p>
               <mat-form-field appearance="fill">
                  <mat-label>Select state*</mat-label>
                   <mat-select formControlName="stateCd" (selectionChange)="changeCityList($event)">
                     <mat-option *ngFor="let state of states" [value]="state.stateCode">
                       {{state.stateCode}}
                     </mat-option>
                   </mat-select>
                   <mat-hint align="end">Select the state as shown on the person's ID ^</mat-hint>
                   </mat-form-field>
                 </div>

                 <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
                   <p>Please select the city or town on the attendee's ID.</p>
                   <mat-form-field appearance="fill">
                     <mat-label>Select your city*</mat-label>
                   <mat-select formControlName="cityNm">
                     <mat-option *ngFor="let city of cities" [value]="city.city">
                     {{city.city}}
                   </mat-option>
                 </mat-select>
                 <mat-hint align="end">Select the city as shown on the person's ID ^</mat-hint>
                 </mat-form-field>
               </div>
            </div>
            <div style="clear: all; padding: 10px;">&nbsp;</div>
            <div class="confirmmessage" *ngIf="submitResult">{{submitResult}}</div>

            </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="(!userForm.valid || submitProcess)">Submit user info</button>
          <div *ngIf="submitProcess">Please wait for your user to process.</div>
    </mat-card-actions>
    </mat-card>
    </form>
    <div style="height:10px;"></div>
    <mat-card *ngIf="this.addOrChange == 1">
      <mat-card-header>
        <mat-card-title>Add a user to an event</mat-card-title>
        <mat-card-subtitle>Add an existing user to an event. This will not assign a user a slot.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="userAssignEvent" (ngSubmit)="submitEvent()">
          <div class="content"  style="padding-left: 24px; padding-right: 24px;">
            <mat-form-field appearance="fill">
          <mat-label>Select event</mat-label>
        <mat-select id="eventId" name="eventId" formControlName="eventId">
          <mat-option *ngFor="let event of this.events" [value]="event.id">
            {{event.eventStartTms | date:'M/d/YY h:mm a'}} - {{event.eventEndTms | date:'h:mm a'}}
        </mat-option>
      </mat-select>
      </mat-form-field>&nbsp;
      <button mat-raised-button color="primary" type="submit" [disabled]="(submitUserEvent)">Add user to event</button>
          <div *ngIf="submitUserEvent">Please wait for your user to be added to the event.</div>
          <div class="confirmmessage" *ngIf="submitUserEventResult">{{submitUserEventResult}}</div>
      </div>
      </form>
      </mat-card-content>
    </mat-card>
    <div style="height:10px;"></div>
    <mat-card *ngIf="this.addOrChange == 1">
      <mat-card-header>
        <mat-card-title>Modify user attributes</mat-card-title>
        <mat-card-subtitle>Change any user attributes and provide permissions.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 24px; padding-right: 24px;">
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="adminUserInd" name="adminUserInd" [formControl]="adminUserInd" (change)="changeAdminInd($event)">Admin</mat-slide-toggle><br/>
            <mat-hint>Set user as system admin.</mat-hint>
          </div>
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="volUserInd" name="volUserInd" [formControl]="volUserInd" (change)="changeVolInd($event)">Volunteer</mat-slide-toggle><br/>
            <mat-hint>Set user as a volunteer.</mat-hint>
          </div>
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="vertical-align: middle; min-height: 75px; padding: 10px;">
            <mat-slide-toggle color="primary" id="banUserInd" name="banUserInd" [formControl]="banUserInd" (change)="changeBanInd($event)">Banned</mat-slide-toggle><br/>
            <mat-hint>Ban a user.</mat-hint>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
