/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row1 {
    border-bottom: none;
  }
  
  .mat-row2 {
    border-bottom-width:1px;
  }
  
  .mat-cell-indent {
    padding-left: 5%;
  }

  .mat-tab-label.mat-tab-label-active .mat-tab-link.mat-focus-indicator.ng-star-indicator {
    color: white !important;
    background-color: #b71c1c !important;
  }

  