<mat-list>
  <mat-list-item>1. 100% mask and social distancing environment.</mat-list-item>
  <mat-list><mat-list-item mat-line>a. NO masks with exhaust valves</mat-list-item>
   <mat-list-item mat-line>b. No neck gaiters</mat-list-item>
   <mat-list-item mat-line>c. No "protest" masks</mat-list-item></mat-list>
   <mat-list-item mat-line>Disposable masks are available if you need one during the event.</mat-list-item>
   <mat-list-item>2. No open-toed or high heel shoes. No sandals. No flip-flops.</mat-list-item>
   <mat-list-item>3. No poaching someone else's pile.</mat-list-item>
   <mat-list-item>4. No climbing or using the ladders - We will have volunteers available to help you get stuff
       down from 2nd and 3rd level pallet shelves.</mat-list-item>
   <mat-list-item>5. Clean up after yourself. If you open and search a box, put everything back in it
       and put it back where it was before moving on. If you're drinking something,
       toss the bottle/cup in the trash, not the bushes. We have removed {{this.dumpsterCount}} dumpsters
       ({{this.dumpsterVolume}} cubic yards) of trash to make
       Computer Reset shoppable - please do your part and help the volunteers.</mat-list-item>
   <mat-list-item>6. Stay out of taped off and off-limits areas.</mat-list-item>
   <mat-list-item>7. No photos, livestreaming, or filming without permission.</mat-list-item>
   <mat-list-item>8. You are responsible for maintaining safety of the facility.</mat-list-item>
   <mat-list-item mat-line>a. Do not stack things in an unsafe manner. If it can slide, it will!</mat-list-item>
   <mat-list-item mat-line>b. Do not stand beneath the garage doors in the warehouse.</mat-list-item>
   <mat-list-item mat-line>c. Do not leave items in doorways or leave aisles blocked.</mat-list-item>
   <mat-list-item>9. Only monitors may be tested. No other equipment testing is permitted.
   </mat-list-item>
   <mat-list-item>10. No harvesting of parts from machines. If there is a card or part you want in a machine,
     you will need to take the full machine.
   </mat-list-item>
   <mat-list-item>11. No helpers as we're limited on space. We have volunteers who can carry things for you.
   </mat-list-item>
   <mat-list-item>12. Don't make us make more rules.</mat-list-item>
   <mat-divider></mat-divider>
     <mat-list-item>$150 USD payment at the door per slot. Cash and PayPal accepted.</mat-list-item>
     <mat-list-item>Parking will be in front for guests, in back for volunteers.
         When you pay you'll be able to pull around back and load up your pile.</mat-list-item>
 </mat-list>
