<mat-list><mat-list-item>1. 100% mask and social distancing environment.</mat-list-item>
    <mat-list><mat-list-item mat-line>a. NO masks with exhaust valves</mat-list-item>
     <mat-list-item mat-line>b. No neck gaiters</mat-list-item>
     <mat-list-item mat-line>c. No "protest" masks</mat-list-item></mat-list>
     <mat-list-item mat-line>Disposable masks are available if you need one during the event.</mat-list-item>
     <mat-list-item>2. No open-toed or high heel shoes. No sandals. No flip-flops.</mat-list-item>
     <mat-list-item>3. No poaching someone else's pile.</mat-list-item>
     <mat-list-item>4. No climbing or using the ladders - We will have volunteers available to help you get stuff
         down from 2nd and 3rd level pallet shelves.</mat-list-item>
     <mat-list-item>5. Clean up after yourself. If you open and search a box, put everything back in it
         and put it back where it was before moving on. If you're drinking something,
         toss the bottle/cup in the trash, not the bushes.</mat-list-item>
     <mat-list-item>6. Stay out of taped off and off-limits areas.</mat-list-item>
     <mat-list-item>7. No photos, livestreaming, or filming without permission.</mat-list-item>
     <mat-list-item>8. You are responsible for your own safety. The volunteer crew has
         spent a huge number of hours filling 19 dumpsters, up to 40-cubic yards each, and restacking/sorting
         things around the offices and warehouse area to help make things safe.</mat-list-item>
     <mat-list-item>9. Equipment testing is only permitted on the test bench in the warehouse. Do not test anything
       inside the office building.
     </mat-list-item>
     <mat-list-item>10. No helpers as we're limited on space. We have volunteers who can carry things for you.
     </mat-list-item>
     <mat-list-item>11. Don't make us make more rules.</mat-list-item>
     <mat-divider></mat-divider>
     <mat-list-item>Cash and PayPal accepted.</mat-list-item>
     <mat-list-item>Parking will be in front for guests, in back for volunteers.
         When you pay you'll be able to pull around back and load up your pile.</mat-list-item>
 </mat-list>
