<mat-list>
  <mat-list-item>1. 100% mask and social distancing environment.</mat-list-item>
  <mat-list><mat-list-item mat-line>a. NO masks with exhaust valves</mat-list-item>
   <mat-list-item mat-line>b. No neck gaiters</mat-list-item>
   <mat-list-item mat-line>c. No "protest" masks</mat-list-item></mat-list>
   <mat-list-item mat-line>Disposable masks are available if you need one during the event.</mat-list-item>
   <mat-list-item>2. No open-toed or high heel shoes. No sandals. No flip-flops.</mat-list-item>
   <mat-list-item>3. No piles - load items directly into your car.</mat-list-item>
   <mat-list-item>4. Boxes must be flattened in the dumpster.</mat-list-item>
   <mat-list-item>5. No e-waste, metal or cables in the dumpster. Only software, manuals and other trash.</mat-list-item>
   <mat-list-item>6. Stay out of off-limits areas.</mat-list-item>
   <mat-list-item>7. No filming or livestreaming permitted. No photos without permission.</mat-list-item>
   <mat-list-item>8. Shelves, forklifts, safes, fans, lawn equipment, and equipment needed to run the facility may not be taken.</mat-list-item>
   <mat-list-item>9. Each person must sign up individually.</mat-list-item>
   <mat-list-item>10. Don't stand beneath the garage doors.</mat-list-item>
   <mat-divider></mat-divider>
     <mat-list-item>Tips for volunteer lunches are graciously accepted.</mat-list-item>
     <mat-list-item>Parking will be in front for community, in back for core volunteers.</mat-list-item>
 </mat-list>
