<div style="padding: 13px;">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Welcome {{fullName}} to the Computer Reset Liquidation Signup Site!
        </mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <p><img src="assets/cr.svg" width="320px" layout-align="center"></p>
          <p>Events that are open for signup can be found below. 
            Please note that events are not posted more than 10 days before the event date.</p>
        </mat-card-content>
        <mat-card-content class="alertmessage">
          <mat-list>
        <mat-list-item><mat-icon>warning</mat-icon> Signing up for an event does not guarantee a slot.</mat-list-item>
        <mat-list-item><mat-icon>warning</mat-icon> Signups are handled on a first come, first served basis.</mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>
    <mat-card style="margin-top:10px;" *ngIf="events.length===0">
      <mat-card-header>
          <mat-card-title>Loading events</mat-card-title>
          <mat-card-subtitle>Please wait...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </mat-card>
      <mat-card style="margin-top:10px;" *ngIf="!(events.length===0)">
          <mat-card-header>
              <mat-card-title>Upcoming events</mat-card-title>
              <mat-card-subtitle>These events are open for signup. All times are shown in Texas time.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-table [dataSource]="events">
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'fullDate'}} </mat-cell>
                  </ng-container>
                
                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventStart">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
                  </ng-container>
                
                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventEnd">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
                  </ng-container>
                
                   <!-- Signup Definition -->
                   <ng-container matColumnDef="signup">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-raised-button color="accent" (click)="pickEvent(row.id);">Sign Up</button></mat-cell>
                  </ng-container>
                  
                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd', 'signup']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd', 'signup']"></mat-row>
                </mat-table>
          </mat-card-content>
          <mat-card-actions>
      </mat-card-actions>
      </mat-card>
  </div>