<div style="padding: 13px;">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Welcome {{fullName}} to the Computer Reset Liquidation Signup Site!
        </mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <p><img src="assets/cr.svg" width="320px" layout-align="center"></p>
          <p>Events that are open for signup can be found below.
            Please note that events are not posted more than 7 days before the event date.</p>
        </mat-card-content>
        <mat-card-content class="alertmessage">
          <mat-list>
        <mat-list-item><mat-icon>warning</mat-icon> Signing up for an event does not guarantee a slot.</mat-list-item>
        <mat-list-item><mat-icon>warning</mat-icon> Signups are handled on a first come, first served basis.</mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>
    <!--loading screen-->
    <mat-card style="margin-top:10px;" *ngIf="!loadStatus">
      <mat-card-header>
          <mat-card-title>Upcoming events</mat-card-title>
          <mat-card-subtitle>Loading upcoming events...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-load-event></app-load-event>
      </mat-card-content>
      <mat-card-actions>
  </mat-card-actions>
  </mat-card>

 <!-- confirmed status card-->
 <mat-card style="margin-top:10px;" *ngIf="confirmedEvents.length > 0">
  <mat-card-header>
      <mat-card-title>Confirmed event</mat-card-title>
      <mat-card-subtitle>You are confirmed for the following event(s). All times are shown in Dallas local time.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="signupmessage">
      Please send us a Facebook message if you cannot attend this event for any reason.
    </div>
      <mat-table [dataSource]="confirmedEvents">
          <!-- Date Definition -->
          <ng-container matColumnDef="eventDate">
            <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
              <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
           </mat-cell>
          </ng-container>

          <!-- Start time Definition -->
          <ng-container matColumnDef="eventStart">
            <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
          </ng-container>

          <!-- Title Definition -->
          <ng-container matColumnDef="eventEnd">
            <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
          </ng-container>

          <!-- Header and Row Declarations -->
          <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd']"></mat-row>
        </mat-table>
        <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
</mat-card-actions>
</mat-card>

<!-- signup status card-->
    <mat-card style="margin-top:10px;" *ngIf="signedupEvents.length > 0">
      <mat-card-header>
          <mat-card-title>Signed up event</mat-card-title>
          <mat-card-subtitle>You have a tentative slot for the following event(s). All times are shown in Dallas local time.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="signupmessage">
          Please check your Facebook messages and message requests for a confirmation message from the volunteers.
          You will need to confirm your slot with the volunteers before attending, or it will be given away
            to another person.
        </div>
          <mat-table [dataSource]="signedupEvents">
              <!-- Date Definition -->
              <ng-container matColumnDef="eventDate">
                <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                  <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
               </mat-cell>
              </ng-container>

              <!-- Start time Definition -->
              <ng-container matColumnDef="eventStart">
                <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
              </ng-container>

              <!-- Title Definition -->
              <ng-container matColumnDef="eventEnd">
                <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
              </ng-container>

              <!-- Header and Row Declarations -->
              <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd']"></mat-header-row>
              <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd']"></mat-row>
            </mat-table>
            <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
  </mat-card-actions>
  </mat-card>

      <mat-card style="margin-top:10px;" *ngIf="loadStatus">
          <mat-card-header>
              <mat-card-title>Upcoming events</mat-card-title>
              <mat-card-subtitle>These events are open for signup. All times are shown in Dallas local time.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-table [dataSource]="events" multiTemplateDataRows>
                  <!-- Date Definition -->
                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef> Event Date </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span fxShow fxHide.lt-md>{{row.eventStartTms | date:'fullDate'}}</span>
                      <span fxHide fxShow.lt-md>{{row.eventStartTms | date:'shortDate'}}</span>
                   </mat-cell>
                  </ng-container>

                  <!-- Start time Definition -->
                  <ng-container matColumnDef="eventStart">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventStartTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                  <!-- Title Definition -->
                  <ng-container matColumnDef="eventEnd">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.eventEndTms | date:'shortTime'}} </mat-cell>
                  </ng-container>

                   <ng-container matColumnDef="signup">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div *ngIf="!row.eventClosed && row.userSlot == 'L'"><button mat-raised-button color="primary" (click)="deleteEvent(row.id);">Remove signup</button></div>
                      <div *ngIf="row.userSlot && row.userSlot != 'L'">Signed up</div>
                      <div *ngIf="row.eventClosed && !row.userSlot">Event is full</div>
                      <div *ngIf="!row.eventClosed && !row.userSlot"><button mat-raised-button color="accent" (click)="pickEvent(row.id);">Sign Up</button></div>
                    </mat-cell>

                  </ng-container>


                  <!-- Event note Definition -->
                  <ng-container matColumnDef="eventNote">
                    <mat-cell *matCellDef="let row" class="mat-cell-indent" [hidden]="row?.eventNote !== '' && !row?.intlEventInd">
                        <span *ngIf="row.eventNote || row.intlEventInd"><mat-icon>star</mat-icon></span>
                          <span *ngIf="row.intlEventInd"> International signup</span>
                          <span *ngIf="row.eventNote && row.intlEventInd"> -- </span>
                          <span *ngIf="row.eventNote"> {{row.eventNote}} </span>
                      </mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="['eventDate', 'eventStart', 'eventEnd', 'signup']"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['eventDate', 'eventStart', 'eventEnd', 'signup']" [ngClass]="{'mat-row1': row.eventNote !== null}"></mat-row>
                  <mat-row *matRowDef="let row; columns: ['eventNote'], when: isNoteRow" class="mat-row2"></mat-row>
                </mat-table>
          </mat-card-content>
          <mat-card-actions>
            {{testString}}
      </mat-card-actions>
      </mat-card>
  </div>
